/* * {
  margin: 0;
  padding: 0;
}

.page-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to right, rgb(0, 117, 128), rgb(55, 0, 128));
}

h1 {
  text-align: center;
  color: white;
}

.add-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 76px;
  width: 298px;
  padding: 25px;
  margin: auto;
  border: 10px solid black;
  background-color: red;
}

.enter-text {
  height: 38px;
  width: 298px;
}

.items-in-list {
  height: 400px;
  width: 400px;
  padding: 100px;
  margin: auto;
  border: 10px solid black;
}

button {
  height: 38px;
  width: 100px;
} */
